.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0b12;
  padding: 0 128px;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 12;
}

.navbar-logo .logo {
  height: 40px;
  width: 191px;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  padding: 10px 0;
}

.navbar-links li a {
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  font-weight: 700;
}

.navbar-links li .nav-link.active {
  color: #1a6ee5;
  padding-bottom: 3px;
  border-bottom: 2px solid #1a6ee5;
}

.contact-btn {
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  font-size: 12px !important;
}

.contact-btn.active {
  color: white !important;
  padding: 8px 12px !important;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: 2px solid white !important;
  font-size: 12px !important;
}

.contact-btn:hover {
  background-color: white;
  border: none;
  color: white !important;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.disabled-link {
  pointer-events: none;
  color: grey; /* Optional: change the color to indicate it's disabled */
  cursor: not-allowed;
}

/* For screens smaller than 1024px but larger than 768px */
@media screen and (max-width: 1084px) {
  .navbar {
    padding: 20px 50px;
  }

  .navbar-logo .logo {
    height: 35px;
    width: auto;
  }

  .navbar-links li a {
    font-size: 14px;
  }

  .navbar-links {
    display: flex;
    gap: 24px;
  }
}

/* For screens smaller than 768px */
@media screen and (max-width: 809px) {
  .navbar {
    padding: 15px 30px;
    height: 60px;
  }

  .navbar-logo .logo {
    height: 30px;
    width: auto;
  }

  /* Adjust the navbar links for mobile */
  .navbar-links {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #0a0b12;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
    padding-top: 20px;
    overflow-y: auto; /* Enable scrolling if needed */
  }

  .navbar-links.active {
    display: flex; /* Show the menu when active */
  }

  .navbar-links li {
    padding: 0;
  }

  .navbar-links li a {
    font-size: 14px;
  }

  .hamburger {
    display: flex;
  }
}

/* Hide horizontal overflow on mobile */
body {
  overflow-x: hidden;
}
